.Profile {
  max-width: 700px;
  margin: 10px auto;
}

.profile-ramka {
  display: flex;
  justify-content: space-evenly;
  padding-top: 15px;
}

.profile-image > img {
  width: 160px;
  height: 160px;
  object-fit: contain;
  border-radius: 100px;
}

.profile-data > button {
  margin-right: 10px;
}
.pro-info {
  text-align: left;
}

.profile-data > h1 {
  padding-top: 18px;
  font-size: 2rem;
}

.pro-info {
  display: flex;
  padding-top: 30px;
}

.pro-info > p {
  padding: 0 7px;
}

.hr {
  width: 90%;
  margin: 25px auto;
  opacity: 0.8;
}

.gallary {
  /* padding-left: 40px;
    padding-right: 20px; */
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.gallary img {
  width: 30%;
  margin: 10px;
}

.item:hover {
  cursor: pointer;
  filter: brightness(80%);
}
